@font-face {
  font-family: Roboto, "Roboto Slab", Arial, "Arial Black", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1px;
  background-color: #8B0000;
  font-family: "Roboto Slab", Roboto, Arial, "Arial Black", sans-serif;
  font-size: 1em;
  letter-spacing: 0.07em;
}

#wrapper {
  background-color: slateblue;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #8B0000;
  position: fixed;
  top: 0px;
  right: auto;
  bottom: auto;
  left: 0px;
  width: 100vw;
  height: 15vh;
}

footer {
  border-top: #8B0000;
  border-top-width: 4rem;
  background-color: #303841;
  color: bisque;
}

#welcome-section {
  width: 100vw;
  height: 85vh;
  background-color: #15A084;
  /*background-color: #45567d;*/
  margin-top: 15vh;
  border-top: #8B0000;
  border-width: thick;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

#long-term {
  width: 100vw;
  height: 85vh;
  background-color: #266D97;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}

#project-section {
  background-color: black;
  color: bisque;
  border-top: #8B0000;
  border-width: thick;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-decoration: white;
}

.front {
  width: 100vw;
  height: 85vh;
  background-color: #194B7D;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

#contacts {
  width: 100vw;
  height: 85vh;
  background-color: #303841;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.6rem;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

#project-section h3 {
  display: inline-block;
  width: 90vw;
}

p {
  line-height: 0.5rem;
  margin: 0.5rem;
}

span {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  color: #F0F0F0;
}

input[type=button] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
input[type=button]:hover {
  background-color: #8B0000;
}

figure {
  width: 240px;
  flex: 1 1 auto;
  background-color: #303841;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
figure:hover h2:first-of-type {
  opacity: 0.5;
}
figure:hover h2:first-of-type::before {
  content: "< ";
}
figure:hover h2:first-of-type::after {
  content: " />";
}

#long-term figure {
  width: 240px;
  flex: 1 1 auto;
  background-color: #303841;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#long-term figure:hover h2:first-of-type {
  opacity: 0.5;
}
#long-term figure:hover h2:first-of-type::before {
  content: "< ";
}
#long-term figure:hover h2:first-of-type::after {
  content: " />";
}

figcaption {
  text-wrap: normal;
  overflow-wrap: break-word;
  color: bisque;
  width: inherit;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

img {
  width: 240px;
}

#contacts img {
  width: 20px;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 720px) {
  #welcome-section {
    width: 100vw;
    height: 100vh;
  }

  #long-term {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }

  .front {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
}
@media (min-width: 720px) {
  #welcome-section {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #long-term {
    width: 100vw;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .front {
    width: 100vw;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
input[type=button] {
  background-color: #333333;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-style: normal;
  color: lightgoldenrodyellow;
  font-weight: bold;
}

#navbar {
  width: 100vw;
  color: #F0F0F0;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
}

#contacts ul {
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  flex-direction: column;
}

#navbar ul li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#contacts ul li {
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: transform 1500ms;
}
#contacts ul li:hover {
  transform: translate(0%, 30%);
  transition-timing-function: ease-in-out;
}

/*# sourceMappingURL=style.css.map */
